hr.hl {
	border: 8px solid black;
}
.h1 {
	
}

.list {
	position: absolute;
	top: 35px;
	right: 20px;
}

.product {
	position: relative;
	display: inline-block;	
	left: 10px;
	width: 400px;
	height: 250px;
	border: 3px solid black;	
}

.check {
	position: absolute;
	top: 20px;
	right: 30px;
}
